name: Build WASM

on:
  push:
    branches:
      - none

concurrency:
  group: build-wasm
  cancel-in-progress: true

jobs:
  build-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        run: |
          git clone --depth 1 "https://github.com/zhengkai/ruin.git" main && \
          git clone --branch gh-pages "https://x-access-token:${{ secrets.RUIN_TOKEN }}@github.com/zhengkai/ruin.git" main/gh-pages

      - name: Install Dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -y --no-install-recommends \
          autoconf \
          autoconf-archive \
          automake \
          build-essential \
          ca-certificates \
          clang \
          cmake \
          curl \
          curl \
          git \
          imagemagick \
          libegl1-mesa-dev \
          libibus-1.0-dev \
          libltdl-dev \
          libssl-dev \
          libtool \
          libwayland-dev \
          libx11-dev \
          libxext-dev \
          libxft-dev \
          libxkbcommon-dev \
          lld \
          ninja-build \
          pkg-config \
          python3 \
          python3-jinja2 \
          tar \
          unzip \
          wget \
          xz-utils \
          zip

      - name: Install CMake
        run: |
          wget -q https://github.com/Kitware/CMake/releases/download/v4.1.2/cmake-4.1.2-linux-x86_64.tar.gz && \
          mkdir -p /opt/cmake-4.1.2 && \
          sudo tar -xzf cmake-4.1.2-linux-x86_64.tar.gz -C /opt/cmake-4.1.2 --strip-components=1 && \
          sudo ln -sf /opt/cmake-4.1.2/bin/cmake /usr/local/bin/cmake

      - name: Install Tool
        run: ./tool/run.sh
        working-directory: main

      - name: Generate Image
        run: ./misc/gen-circle.sh
        working-directory: main

      - name: Build WASM
        run: ./wasm.sh
        working-directory: main

      - name: Save Github Pages
        run: |
          cd main && \
          COMMIT=$(git rev-parse --short=8 HEAD) && \
          TIME=$(TZ='Asia/Shanghai' date '+%Y-%m-%d %H:%M:%S') && \
          sed -i "s#^// build:.*#// build: $TIME / $COMMIT#" web/index.html && \
          cd gh-pages && \
          cp ../web/index.html . && \
          git config user.name "Github Actions Bot" && \
          git config user.email "ruin.bot@soulogic.com" && \
          git commit --all --message="Update WASM build" --amend || echo "No changes to commit" && \
          git push --force
